
:root{
    --color-iris: #4D5AE5;
    --color-navyblue: #2E2F42;
    --color-white: #FFFFFF;
    --color-cornflower: #E7E9FC;
    --color-ocean: #404BBF;
    --color-cloud: #F4F4FD;
    --color-dairy: #FCFCFC;
    --color-slate: #434455;
   
    --font-family-open-sans:'Open sans',san-serif;
    --font-family-roboto: 'Roboto',san-serif;
}

*, *::before, *::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/* added from HW3 container 1158px restricted*/
.container{
    width: 1158px;
    margin: 0 auto;
}


/* added from HW3 global style reset */
p,
h1,
h2,
h3,
h4,
h5,
h6,ul {
    margin: 0px;
    padding: 0px;
  }


  /* added from HW3 padding 120px push the content to center */
.section{
    padding: 120px 0px;
}

body{
    font-family: 'Opens Sans' ,san-serif;
    font-family: Roboto;
}

a {
    text-decoration: none;
}

address {
    font-style: normal;
}

button {
    font-family: inherit;
    border: unset;
}

.header {
    border-bottom: 1px solid var(--color-cornflower);
    border: 1px;
    background-color: var(--color-white);
}

.header-container{
    border: 0px, 0px, 1px, 0px;
    border-bottom: 1px solid #E7E9FC;
}



/* a[href="/"]{
    color: var(--color-iris);
} */

.logo-webstudio::before{
    content: "WEB";
    color: var(--color-iris);
}

.logo-webstudio{
    color: var(--color-navyblue);
}

.logo-webstudio{
    text-decoration: none;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-align: left;
}
.address-link,
.nav-menu-link{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--color-slate);
    
}

.nav-menu-link:active{
    color: var(--color-ocean);
}

.address-link:hover,
.nav-menu-link:hover{
    color: var(--color-iris);
}

.nav-menu-link:focus{
    color: var(--color-navyblue);
}


.main-header-nav,
.nav-menu,.address-menu
{
    list-style: none;
    text-decoration: none;
} 


.address-menu{
    display: flex;
    list-style: none;
    gap: 40px;
    margin-left:330px;
}

.nav-menu{
    gap: 40px;
}

.main-header-nav, .header-container{
    display: flex;
    justify-content: center;
}

.logo-webstudio{
    padding: 24px;
}

.nav-menu,
.address-menu{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--color-slate);
    display: flex;
    padding: 24px;
}

.address-link:active{
    color: var(--color-navyblue);
}

.address-link:hover {
    color: var(--color-slate);
}


.main-hero{
    background-color: var(--color-navyblue);
    text-align: center;
}

.service-hero-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.02em;
    color: var(--color-white);
    /* HW3 */
    width: 496px;
    margin-left: 330px;
    
}

.main-hero{
    text-align: center;
}
.service-button-cta {
    background-color: var(--color-ocean);
    color: var(--color-white);
    height: 56px;
    width: 169px;
    box-shadow: none;
    border-radius: 4px;
    border: unset;
    margin: 40px;
}


.service-button-cta:hover{
    cursor: pointer;
    color: var(--color-white);
    background-color: var(--color-iris);
}


.services-filter-list{
    width: Hug (586px);
    height: Hug (48px);
    top: 168px;
    left: 427px;
    gap: 24px;
    margin-left:120px;

}


.filter-btn{
 
    border-radius: 4px;
    /* HW3 */
    width: Hug (116px);
    padding: 12px 24px 12px 24px;
    background: linear-gradient(0deg, #F4F4FD, #F4F4FD),
    linear-gradient(0deg, #E7E9FC, #E7E9FC);
    border: 1px solid var(--color-cornflower);
    cursor: pointer;
    color: var(--color-iris);
}


.filter-btn:hover{
    background: var(--color-ocean);
    color: var(--color-white);
}


.filter-btn:focus{
    background: var(--color-ocean);
    color: var(--color-white);
}


.filter-btn:active{
    background: var(--color-ocean);
    color: var(--color-white);
    cursor: pointer;
    color: var(--color-white);
}


.section-gallery-title{
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 80px;
    padding-left: 0px;
}


.section-gallery-title,.our-team-title{
    color: var(--color-navyblue);
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 40px;
}



.section-features-list{
    text-align: left;
}

.section-features-item-description{
    padding-top: 8px;
}

.section-gallery{
    padding-top: 40px;
    padding-right: 0px;
    padding-bottom: 40px;
    padding-left: 0px;
}

.our-team-name,
.section-features-list{
    color:var(--color-navyblue);

}

.ourteam-work,
.section-features-item {
    color:var(--color-slate);
}

.section-features-list,
.section-gallery-list,
.ourteam-list {
    display: flex;
    list-style: none;
    gap: 40px;
}

footer{
    background: var(--color-navyblue);
}

.container-footer, .text-footer{
    text-align: left;
}

.text-web{
    color: var(--color-iris);
    text-decoration: none;
    font-family: Raleway;
}

.text-studio{
    color: var(--color-cloud);
    text-decoration: none;
    font-family: Raleway;
}

.text-footer{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--color-cloud);
    width: 264px;
    padding-top: 8px;
}

.text-footer:hover{
     color: var(--color-iris);  
}

.section-ourteam{
    background-color: var(--color-cloud);
}

.our-team-title{
    margin-top: 80px;
}

/* HW3 */
.ourteam-list{
    margin-top: 80px;
    margin-right: 0px;
    margin-bottom: 80px;
    margin-left: 0px;
}

/* HW3  */
/*
.ourteam-name{
    padding: 24px 0px 0px 0px;
   
}
.ourteam-work{
    padding-top: 8px;
    padding-bottom: 8px;
}
*/
.our-team-name{
    padding-top: 32px;
}

.ourteam-work{
    padding-bottom: 32px;
    padding-top: 8px;
} 

/* HW3 card container*/
.card{
    background-color: var(--color-white);
    border: 1px solid #E7E9FC;
    border-radius: 0px 0px 8px 8px;
    text-align: center;
}

.services-filter-list{
    gap: 20px;
    margin: 40px;
    padding-left: 250px;
}

.section-application-list,
.section-course-list,
.section-webdesign-list{
    gap: 40px;
    padding-bottom: 40px;
}


/* portfolio */
.services-filter-list,
.section-application-list,
.section-course-list,
.section-webdesign-list{
    display: flex;
    list-style: none;

}


.section-application-item,
.section-course-item,
.section-webdesign-item{
    text-align: left;
}


.service-course{
    padding-top: 8px;
    padding-bottom: 8px;
}



